.Card-crop {
  width: 224px;
  height: 316px;
  border-radius: 4px;
  -moz-transition: box-shadow 0.15s, background-color 0.15s;
  transition: box-shadow 0.15s, background-color 0.15s;
}

.Card-crop:hover {
  box-shadow: 0 0 5px 5px #916c84;
  background-color: #916c84;
}

.Card-crop:active {
  animation: 0.4s afterclick linear forwards;
}

@keyframes afterclick {
  from {
    background-color: #916c84;
    box-shadow: 0 0 5px 5px #916c84;
  }
  to {
    background-color: #916c8485;
    box-shadow: 0 0 5px 1px #916c84;
  }
}

@keyframes rotatein {
  from {
    transform: rotateY(90deg);
    z-index: -1;
  }
  to {
    transform: rotateY(0deg);
    z-index: 5;
  }
}

@keyframes rotateout {
  from {
    transform: rotateY(0deg);
    z-index: 5;
  }

  to {
    transform: rotateY(90deg);
    z-index: -1;
  }
}

.Card-rotatein {
  animation: 0.5s ease-in rotatein;
}

.Card-rotateout {
  animation: 0.4s ease-out rotateout;
}

.Card {
  z-index: 5;
  margin: -32px -20px -24px -14px;

  cursor: crosshair;
  user-select: none;

  position: absolute;
}

.Card-cardback {
  width: 224px;
  height: 316px;
  position: relative;
  z-index: -1;
}
