.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
  background-color: #e5dbd8;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #2b243f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #faf7f6;
  padding-right: 5vw;
  padding-left: 5vw;
}

.App-board {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* COLORS
#e5dbd8
#FAF7F6
#93C2D3
#916C84
#DC6241
#2B243F
*/
